@import './base/settings';
@import './base/base';

.is-active {
  font-weight: bold;
}


// temp style
.temp {
  padding: 10px;
  text-decoration: none;
  &:hover {
    background: ghostwhite;
  }
  &:focus {
    background: yellow;
  }
}
